<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('forgot_password') }}">Forgot Password</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </nav>

    <div class="container">
        <h2 class="text-center my-4">Welcome, {{ session['user'] }}!</h2>
        <div class="text-center">
            <a href="/add_contact" class="btn btn-success btn-lg m-2">Add a Contact</a>
            <a href="/search_contact" class="btn btn-info btn-lg m-2">Search for a Contact</a>
            <a href="/logout" class="btn btn-danger btn-lg m-2">Logout</a>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <p>&copy; 2024 Glow Techs. All rights reserved.</p>
        </div>
    </footer>
    <!-------------------------------Optional Bootstrap JS--------------------------------->    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
